/*=====RESET=====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=====VARIABLES=====*/
:root {
  --dark-letter: hsl(228, 30%, 17%);
  --dark-yellow: hsl(46, 100%, 58%);

  --light-gray: hsl(227, 10%, 55%);
  --border-gray: hsla(0, 0%, 83%, 0.3);

  --white: hsl(0, 0%, 100%);
  --blue: hsla(215, 69%, 37%);

  --page-background: #f9fbfc;

  font-size: 62.5%;
}

/*=====BASE=====*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

    background: linear-gradient(
    to bottom,
    var(--blue) 0%,
    var(--blue) 50%,
    var(--page-background) 50%,
    var(--page-background) 100%
  );
}

html {
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

section {
  text-align: center;
}

.button {
  color: var(--blue);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid var(--blue);
  border-radius: 1rem;
  padding: 1.2rem 11.05rem;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

h1.title {
  font-weight: 700;
  padding-top: 10rem;
  margin-bottom: 2rem;
  color: var(--white);
}

h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 600;
}

p.description {
  margin-bottom: 6.5rem;
  color: var(--white);
  /* width: 55.3rem; */
}

/*=====CARDS=====*/
.cards {
  display: flex;
  gap: 2rem;

  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.cards .card {
  width: 35.5rem;
  height: 47rem;
  background: var(--white);
  /* border: 0.5px solid var(--border-gray); */
  border-radius: 1rem;
  box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
  text-align: left;
  /* padding: 3rem; */
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.cards .card .header {
  height: 7.6rem;
  display: flex;
  margin-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 2rem;
  color: var(--dark-letter);
  align-items: center;
  justify-content: space-between;
  /* background: blue; */
}

.cards .card .header p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  background: var(--blue);
  padding: 0.8rem 2.4rem;
  border-radius: 4rem;
}

.cards .card .box {
  padding: 0 3rem 3rem 3rem;
  /* background: lightblue; */
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.cards .card .box .price {
  display: flex;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.cards .card .box .price span {
  color: var(--dark-letter);
  font-weight: 700;
}

.cards .card .box p {
  font-size: 1.4rem;
  color: var(--light-gray);
  /* margin-bottom: 2rem; */
}

.cards .card .box p.text {
  margin-bottom: 2rem;
}

.cards .card .box ul li {
  list-style: none;
}

.cards .card .box ul li {
  font-weight: 600;
  margin-bottom: 2rem;
}

.cards .card .box ul li {
  display: flex;
}

.cards .card .box ul li p {
  margin-left: 1.5rem;
}

.cards .card .box .button {
  /* position: absolute; */
  /* bottom: 2.5rem; */
}

/*=====CARD HIGHLIGHT=====*/
.cards .card.highlight {
  height: 49rem;
}

.cards .card.highlight .header {
  background: var(--dark-yellow);
  /* border-radius: 1rem 1rem 0 0; */
}

.cards .card.highlight .button {
  color: var(--white);
  background: var(--blue);
}

/*=====DIVIDER=====*/
.divider {
  height: 1px;
  background: var(--border-gray);
  margin-bottom: 2rem;
}

/*=====FOOTER=====*/
footer {
  /*footer preso no fundo da página no "body" e "main"*/
  background: var(--blue);
  padding: 2rem 3rem;
}

footer h2 {
  color: var(--white);
}

footer p {
  color: var(--white);
  font-size: 1.4rem;
}
